version: '3.8'

services:
  api:
    build:
      dockerfile: Dockerfile
      context: .
      target: development
    restart: always
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run start:dev
    ports:
      - '${PORT}:${PORT}'
    networks:
      - user-defined

  postgres:
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '${POSTGRES_PORT}:${POSTGRES_PORT}'
    volumes:
      - pgdb-data:/var/lib/postgresql/data
      - pgdb-logs:/var/log/postgresql/
    networks:
      - user-defined
    command: postgres -c logging_collector=on -c log_filename=postgres.log -c log_statement=all

  adminer:
    image: adminer
    restart: always
    ports:
      - ${ADMINER_PORT}:${ADMINER_PORT}
    networks:
      - user-defined

volumes:
  pgdb-data:
  pgdb-logs:

networks:
  user-defined:
    name: ${NETWORK}
    driver: ${DRIVER}
